
/* SignUP.css */
.parent {
  min-height: 100vh;

  /* background-color: E6F1FF; */   
  /* background-color: #fff; */
   background-color: #0d6efd;
  /* background-color: E6F1FF; */

  padding: 30px;
  overflow-y: auto;
}

.parent-card {
  max-width: 500px;
  width: 100%;
}
