
.auth-container {
  min-height: 100vh;
  background: linear-gradient(45deg, #007bff, #00d4ff);
  /* background-color: E6F1FF; */

}

.auth-card {
  width: 100%;
  max-width: 400px;
 
}

.qr-logo {
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
 
}

